<section id="one" class="tiles">
  <article>
    <span class="image">
      <img src="" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://github.com/comp0cker/swissiwashi" class="link">Swissiwashi</a></h3>
      <p>Swiss tournament simulator built in React JS</p>
    </header>
  </article>

  <article>
    <span class="image">
      <img src="" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://github.com/comp0cker/pokeflow" class="link">Pokeflow</a></h3>
      <p>A Python framework to collect and parse through Regional + National tournament data</p>
    </header>
  </article>

  <article>
      <span class="image">
        <img src="" alt="" />
      </span>
      <header class="major">
        <h3><a href="https://github.com/comp0cker/flowspace" class="link">Flowspace</a></h3>
        <p>A web application built in Angular that generates custom workspace configurations</p>
      </header>
    </article>

    <article>
        <span class="image">
          <img src="" alt="" />
        </span>
        <header class="major">
          <h3><a href="https://github.com/comp0cker/chord-generator" class="link">Chord Generator</a></h3>
          <p>Bootstrap web application for introductory music theory practice</p>
        </header>
      </article>


</section>
