<!-- Projects -->

<section id="one" class="tiles">
  <article>
    <span class="image">
      <img src="/assets/images/swissiwashi.png" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://github.com/comp0cker/swissiwashi" class="link">Swissiwashi</a></h3>
      <p>Swiss tournament simulator built in React JS</p>
    </header>
  </article>

  <article>
    <span class="image">
      <img src="/assets/images/pokeflow.png" alt="" />
    </span>
    <header class="major">
      <h3><a href="https://github.com/comp0cker/pokeflow" class="link">Pokeflow</a></h3>
      <p>A Python framework to collect and parse through major tournament data</p>
    </header>
  </article>

  <article>
      <span class="image">
        <img src="/assets/images/flowspace.png" alt="" />
      </span>
      <header class="major">
        <h3><a href="https://github.com/comp0cker/flowspace" class="link">Flowspace</a></h3>
        <p>A web application built in Angular that generates custom workspace configurations</p>
      </header>
    </article>

    <article>
        <span class="image">
          <img src="/assets/images/chord_generator.png" alt="" />
        </span>
        <header class="major">
          <h3><a href="https://github.com/comp0cker/chord-generator" class="link">Chord Generator</a></h3>
          <p>Bootstrap web application for introductory music theory practice</p>
        </header>
      </article>
</section>

<!-- Posts -->

<section id="one" class="tiles">
  {% for post in site.posts limit:site.tiles-count %}
  {% if site.tiles-source == 'posts' %}
  <article>
    <span class="image">
      <img src="{{ post.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
  {% for page in site.pages limit:site.tiles-count %}
  {% if site.tiles-source == 'pages' and page.show_tile != false %}
  <article>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
      <p>{{ page.description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
</section>